.art-section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.art-section-title .art-title-frame {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    margin-bottom: 30px;
}

.art-section-title .art-right-frame {
    padding-bottom: 30px;
}

/* ----- card ----- */
.art-card {
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 30px;
    margin-bottom: 30px;
}

.art-card.art-fluid-card {
    height: calc(100% - 30px);
}

/* ----- banner ----- */
.art-banner-back {
    content: '';
    position: absolute;
    z-index: 0;
    top: -30px;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(30, 30, 40, 0.88);
}

.art-banner {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    z-index: 999;
}

.art-banner .art-banner-overlay {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0.7)));
    background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%);
}

.art-banner .art-banner-overlay.art-side-overlay {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0)));
    background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0) 100%);
}

.art-banner .art-banner-overlay .art-banner-title {
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

.art-banner .art-banner-overlay .art-banner-title h1 {
    color: #fafafc;
}

.art-banner .art-banner-overlay .art-banner-photo {
    width: 390px;
    position: absolute;
    right: 30px;
    bottom: 0;
}

/* ----- typing code ----- */
.art-code {
    font-family: "Courier Prime", monospace;
    color: #fafafc;
}

.art-code i {
    font-style: normal;
    color: #FFC107;
}

/* ----- counters ----- */
.art-counter-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    opacity: 0;
    position: relative;
}

.art-counter-frame .art-counter-box {
    min-width: 60px;
}

.art-counter-frame .art-counter-box .art-counter {
    color: #FFC107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.art-counter-frame .art-counter-box .art-counter-plus {
    margin-left: 3px;
    color: #FFC107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

/* ----- services ----- */
.art-service-icon-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
}

.art-service-icon-box .art-service-ib-content {
    padding: 30px;
}

.art-service-icon-box .art-service-ib-content .art-service-ib-icon {
    position: absolute;
    right: 10px;
    bottom: -45px;
    opacity: 0.03;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    -ms-flex-item-align: center;
    align-self: center;
}

/* ----- prices ----- */
.art-price {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    text-align: center;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.art-price.art-popular-price {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.art-price.art-popular-price:before {
    font-size: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99;
    top: 18px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    font-weight: 600;
    color: #1e1e28;
    right: -72px;
    content: 'POPULAR';
    padding: 2px;
    width: 200px;
    text-align: center;
    background: #FFC107;
}

.art-price .art-price-body {
    position: relative;
    padding: 30px;
}

.art-price .art-price-body .art-asterisk {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;
    font-size: 8px;
    opacity: 0.4;
}

.art-price .art-price-body .art-price-cost {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 10px;
}

.art-price .art-price-body .art-price-cost .art-number {
    font-size: 32px;
    color: #FFC107;
    font-weight: 600;
    margin-bottom: 0;
}

.art-price .art-price-body .art-price-cost .art-number span {
    color: #fafafc;
    font-size: 12px;
    font-weight: 200;
    padding: 0 5px;
    opacity: 0.6;
}

.art-price .art-price-body .art-price-cost .art-number sup {
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 0;
    opacity: 0.6;
}

.art-price .art-price-body .art-price-list {
    padding: 0;
    margin: 0 0 30px;
}

.art-price .art-price-body .art-price-list li {
    list-style-type: none;
    margin-bottom: 15px;
}

.art-price .art-price-body .art-price-list li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    font-size: 9px;
    color: #FFC107;
}

.art-price .art-price-body .art-price-list li.art-empty-item {
    opacity: 0.3;
}

.art-price .art-price-body .art-price-list li.art-empty-item:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    margin-right: 5px;
    font-size: 9px;
    color: #FFC107;
}

.art-price .art-price-body .art-link {
    margin: 0;
}

/* ----- testimonials ----- */
.art-testimonial-slider {
    width: 100%;
}

.art-testimonial {
    position: relative;
    background-size: cover;
    padding: 30px;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.art-testimonial .testimonial-body {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.art-testimonial .testimonial-body .art-testimonial-face {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    right: 30px;
    top: -15px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.art-testimonial .art-testimonial-footer {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.art-testimonial .art-testimonial-footer .art-star-rate {
    padding: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 5px 15px;
    font-size: 10px;
    margin-top: 5px;
    background: #20202a;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFC107;
}

.art-testimonial .art-testimonial-footer .art-star-rate li {
    list-style-type: none;
    margin-right: 5px;
}

.art-testimonial .art-testimonial-footer .art-star-rate li.art-empty-item {
    color: rgba(43, 43, 53, 0.98);
}

.art-testimonial .art-testimonial-footer .art-testimonial-icon {
    position: absolute;
    left: 45%;
    top: 20px;
    opacity: 0.03;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 120px;
    -ms-flex-item-align: center;
    align-self: center;
}

.art-slider-navigation {
    padding: 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.art-slider-navigation .swiper-pagination-bullet {
    margin-right: 10px;
    background-color: #8c8c8e;
    border-radius: 5px;
    opacity: 0.5;
    height: 4px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-slider-navigation .swiper-pagination-bullet:focus {
    outline: inherit;
}

.art-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    background-color: #FFC107;
    opacity: 1;
}

.art-slider-navigation .art-slider-nav-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.art-slider-navigation .art-slider-nav-frame .art-slider-nav {
    margin-left: 15px;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-slider-navigation .art-slider-nav-frame .art-slider-nav.swiper-button-disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.art-slider-navigation .art-slider-nav-frame .art-slider-nav:focus {
    outline: inherit;
}


@media (max-width: 1600px) {
    .art-banner .art-banner-overlay .art-banner-title h1 {
        color: #fafafc;
        font-size: 42px;
    }

    .art-banner .art-banner-overlay .art-banner-photo {
        width: 360px;
    }
}

@media (max-width: 1400px) {
    .art-banner-back {
        display: none;
    }

    .art-banner .art-banner-overlay .art-banner-title h1 {
        color: #fafafc;
        font-size: 36px;
    }

    .art-banner .art-banner-overlay .art-banner-photo {
        width: 320px;
    }
}

@media (max-width: 1200px) {
    .art-banner .art-banner-overlay .art-banner-photo {
        display: none;
    }

    .art-grid.art-grid-2-col .art-grid-item {
        width: 50%;
    }

    .art-grid.art-grid-3-col .art-grid-item {
        width: 50%;
    }
}

@media (max-width: 920px) {
    .art-banner .art-banner-overlay {
        padding: 60px 30px;
    }

    .art-banner .art-banner-overlay .art-banner-title {
        text-align: center;
    }

    .art-banner .art-banner-overlay .art-banner-title h1 {
        color: #fafafc;
        font-size: 46px;
    }

    .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame a {
        max-width: 200px;
        margin: 0 auto;
    }

    .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame a:first-child {
        margin-bottom: 15px;
    }

    .art-code {
        min-height: 70px;
        margin-bottom: 0;
    }

    .art-timeline .art-timeline-content {
        margin-right: 30px;
    }

    .fancybox-container {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    .fancybox-toolbar {
        width: 100vw;
    }

    .fancybox-navigation {
        width: 100%;
        position: absolute;
        bottom: 35px;
    }
}

/* ------------------------------

content (after 768px)

------------------------------ */
@media (max-width: 768px) {
    .art-section-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .art-section-title .art-right-frame {
        margin-left: auto;
        margin-right: auto;
    }

    .art-grid.art-grid-2-col .art-grid-item {
        width: 100%;
    }

    .art-grid.art-grid-3-col .art-grid-item {
        width: 100%;
    }

    .art-filter {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .art-filter a {
        margin: 0 0 10px;
    }

    .art-m-hidden {
        display: none;
    }
}

/* ------------------------------

content (after 500px)

------------------------------ */
@media (max-width: 500px) {
    .art-section-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .art-section-title .art-right-frame {
        margin-left: auto;
        margin-right: auto;
    }

    .art-grid.art-grid-2-col .art-grid-item {
        width: 100%;
    }

    .art-grid.art-grid-3-col .art-grid-item {
        width: 100%;
    }
}

/* ------------------------------





/